<div class="hero overlay" style="background-image: url('assets/images/bg-3.png');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 mr-auto">
          <h2 class="text-white">Noel approche:</h2>
          <p>Préparez les fetes et découvrez notre sélection de cadeaux</p>
          <div id="date-countdown"></div>
          <p>
            <a href="#" class="btn btn-dark py-3 px-4 mr-3">Découvrir Nos Promotions</a>
            <a href="#" class="more light">Learn More</a>
          </p>  
        </div>
      </div>
    </div>
  </div>
