<div class="post-entry">
    <a href="#">
        <img src={{newInput.img}} alt="Image" class="img-fluid">
    </a>
    <div class="caption">
        <div class="caption-inner">
            <h3 class="mb-3">{{newInput.title}}</h3>
            <div class="author d-flex align-items-center">
                <div class="img mb-2 mr-3">
                    <img src={{newInput.avatar}} alt="">
                </div>
                <div class="text">
                    <h4>{{newInput.author}}</h4>
                    <span>{{newInput.date}}</span>
                </div>
            </div>
        </div>
    </div>
</div>