<div class="container site-section">
    <div class="row">
      <div class="col-6 title-section">
        <h2 class="heading">Our Blog</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="custom-media d-flex">
          <div class="img mr-4">
            <img src="assets/images/blog1.png" alt="Image" class="img-fluid">
          </div>
          <div class="text">
            <h3 class="mb-4"><a href="#">LOOKFANTASTIC Black Friday 2022 : tous nos conseils pour profiter de l’événement shopping de l’année</a></h3>
            <p>La Teamfantastic vous offrent ses conseils pour que vous puissiez faire vos achats pendant la Cyber week en toute simplicité.Suivez le guide!</p>
            <p><a href="#">lire la suite</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="custom-media d-flex">
          <div class="img mr-4">
            <img src="assets/images/blog2.png" alt="Image" class="img-fluid">
          </div>
          <div class="text">
          
            <h3 class="mb-4"><a href="#">Qu’est-ce que le Black Friday ? Découvrez l’histoire de l’événement commercial le plus attendu de l’année !</a></h3>
            <p>Comment le Black Friday est-il apparu ? Quelles sont ses origines ? Découvrez l’histoire de cet événement commercial mondial !</p>
            <p><a href="#">lire la suite</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>